[alias]
  s = status
  sw = switch
  swc = switch -c
  co = checkout
  a = add
  d = diff
  ds = diff --cached
  au = !git add -u && git status
  cm = commit
  commit-ammend = commit --amend
  fetch = fetch --prune
  pl = pull
  pull-autostash = pull --autostash
  cp = cherry-pick
  ri = rebase -i
  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
  tb = "!git rev-parse --abbrev-ref HEAD | pbcopy && pbpaste"
  # [required argument]
  cos = "!f() { git stash; git switch \"$1\"; git stash pop; }; f"
  resetn= "!f() { git reset --soft HEAD~\"$1\" ; }; f"
  logn = "!f() { git log -n  \"$1\" --oneline --pretty=format:'%h [%cd] %d %s <%an>' --date=format:'%Y/%m/%d %H:%M:%S'; }; f"
  # [combined command (display peco)]
  reset-and-checkout = "!git reset && git co ."
  stash-save = stash save
  stash-unstaged-files = stash save -k
  stash-apply-peco = !"git stash list | peco | awk -F '{|}' '{print $2}' | git stash apply"
  stash-pop-peco = "!git stash list | peco | awk -F '{|}' '{print $2}' | xargs -I{} sh -c 'if [[ \"{}\" =~ [0-9]{1,} ]]; then git stash pop stash@{{}}; fi'"
  stash-list = "!git stash list"
  stash-drop-peco = "!git stash list | peco | awk -F '{|}' '{print $2}' | xargs -I{} sh -c 'if [[ \"{}\" =~ [0-9]{1,} ]]; then git stash drop stash@{{}}; fi'"
  branch-mv = "!git branch -mv $(git rev-parse --abbrev-ref HEAD)"
  delete-merged-branches = "!git branch --merged | grep -v '*' | xargs -I{} git branch -d {}"
  pull-and-refresh = "!git pl && git delete-merged-branches && git fetch --prune"
  # parent-branch-name = "!git show-branch | grep '*' | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed -n \"/$(git tb)/,/master/p\"  | sed -e 's/\\^//g' | sed -e 's/\\~//g' | sed 's/[0-9]\\{1,\\}$//g' | uniq | sed -e \"/$(git tb)/d\" | head -n 1"
  # diff-files-from-parent-branch = "!git diff --name-only origin/`git parent-branch-name`..`git tb`"
  # check-rubocop-to-diff-files = "!git diff-files-from-parent-branch | sed '/spec.rb/d' | xargs | xargs -I{} sh -c \"if [ -n \"{}\" ];     then bundle exec rubocop $(echo $(git diff-files-from-parent-branch | sed '/spec.rb/d')) ;fi\""
  # check-rspec-to-diff-files = "!git diff-files-from-parent-branch | sed -n -e '/spec.rb/p' | xargs | xargs -I{} sh -c \"if [ -n \"{}\"     ]; then bundle exec rspec $(echo $(git diff-files-from-parent-branch | sed -n -e '/spec.rb/p')) ;fi\""
  # check-rubocop-rspec-to-diff-files = "!git rubocop-check && git rspec-check"
  # log-from-parent-branch = "!git log --pretty=oneline `git parent-branch-name`..`git tb`"
  delete-pry-code = "!git diff --name-only | xargs -I{} sed -i -e '/binding.pry/d' {}"
  delete-debugger-code = "!git diff --name-only | xargs -I{} sed -i -e '/debugger/d' {}"
  delete-debug-code = "!git delete-pry-code && git delete-debugger-code"
  pull-master = "!git tb | xargs -I{} sh -c 'if [[ {} == 'master' ]]; then git pl ; else git co master > /dev/null && git pl && git co - ; fi'"
  find-merge-pr-from-commit = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
  show-merge-pr-from-commit = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
  create-pr = "!git config --get remote.origin.url | sed 's/git@github.com://g' | sed 's/.git//g' | xargs -I ORG echo 'https://github.com/ORG/compare' | xargs -I PATH open PATH/$(git tb)"

[grep]
  LineNumber = true

[user]
  name = tom-naoki
  email = kn.sf.258@gmail.com

[include]
  path = ~/.git/.gitconfig.local

[core]
  editor = vim
  excludesfile = /Users/kuratomi/.gitignore_global

[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

[url "git@github.com:"]
  insteadOf = https://github.com/

[rebase]
  autostash = true
  autosquash = true

[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
